/* -------- variables*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
:root{
  --green-color:#7ACC2D;
  --white-color:white;
  --black-color:#313337;
  /* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
--space-2:20px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}

/* -------- variables*/

html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;
}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  max-height: 40px;
  background-size: cover;
  background-position: center top;
  padding:10% 20%;
  display: flex;
}

.product{
  padding: var(--space);
  margin-top: -240px;
}
.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}

footer{
    background-color: var(--black-color);
    color:var(--white-color);
    height: 25px;
    padding: var(--space);
    justify-content: space-between;
    display: flex;
    align-items: center;
}
footer .footer_text{
    margin: var(--space);
}
footer .footer_text a{
    text-decoration: none;
    color: var(--white-color);

}
